@charset "UTF-8";
/* CSS Document */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
/**/

.body {
    margin: 0px;
}
.nav {
    padding: 20px 0px 0px 0px;
}
.nav a {
    padding: 20px 10px 20px 10px;
    text-transform: capitalize;
    font-weight: bold;
    color: #5a5a5a;
    font-size: 15px;
    font-size-adjust: auto;
}

.nav li {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    position: relative;
    margin: auto;
}

.content {
    padding-bottom: 15px;
    /*min-height: calc(70vh - 70px);*/
}

/*.site_footer {
    padding: 20px 20px;
    height: auto;
    align: center;
    font-size: 18px;
} */

.site_footer {
    position: relative;
    width: 100%;
    text-align: center;
    border-top: ridge;
    padding: 20px 0px;
    height: auto;
    bottom: 0;
    background-color: #f7f7f7;
}

.site_footer a {
    font-size: 15px;
    padding: 0px 30px;
}

.slide-show {
    background-image:url('https://images.toogoodbruh.com/beetlehome.jpg'); 
    border-image-width: auto;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;;
}

.content p {
    text-align: center;
}

.about-cols .row {
    padding-top: 30px;
    word-wrap: break-word;
    /*width: 600px; */
    justify-content: center;
}


.about-cols img {
    width: 450px;
}

.about-cols p {
    font-size: 18px;
}

.header {
    padding: 30px 10px;
    font-size: 40px;
}