@charset "UTF-8";
/* CSS Document */
.nav a {
    padding: 40px 10px 20px 10px;
    text-transform: capitalize;
    font-weight: bold;
    color: #5a5a5a;
    font-size: 15px;
    font-size-adjust: auto;
}

.nav li {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.slide-show h1 {
    align-content: center;
}

.slide-show {
    background-image:url('https://images.toogoodbruh.com/beetlehome.jpg'); 
    border-image-width: auto;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;;
}

.content p {
    text-align: center;
}