@charset "UTF-8";
/* CSS Document */
.body {
    margin: 0px;
}
.nav {
    padding: 20px 0px 0px 0px;
}
.nav a {
    padding: 20px 10px 20px 10px;
    text-transform: capitalize;
    font-weight: bold;
    color: #5a5a5a;
    font-size: 15px;
    font-size-adjust: auto;
}

.nav li {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    position: relative;
    margin: auto;
}

.content {
    padding-bottom: 1500px;
}

.slide-show {
    background-image:url('https://images.toogoodbruh.com/beetlehome.jpg'); 
    border-image-width: auto;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;;
}

.content p {
    text-align: center;
}

.about-cols .row {
    padding-top: 30px;
    word-wrap: break-word;
    /*width: 600px; */
    justify-content: center;
}


.about-cols img {
    width: 450px;
}

.about-cols p {
    font-size: 18px;
}

.header {
    padding: 30px 10px;
    font-size: 40px;
}